:root {
    --White: hsl(0, 0%, 100%);

    --Blue200: hsl(224, 100%, 95%);
    --Blue400: hsl(220, 100%, 64%);
    --Blue600: hsl(228, 100%, 60%);
    --Blue700: hsl(228, 99%, 58%);
    --Black: hsl(0, 0%, 0%);  /* used at 25% opacity for the menu overlay */
}

@font-face {
    font-family: 'Inter';
    src: url(../assets/fonts/inter/inter-variable.ttf);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--Blue700);
    color: var(--White);
    font-family: 'Inter', sans-serif;
}